<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <a href="/">
    <div class="logo">
        <div class="logo-img"><img src="https://5.imimg.com/data5/UM/AA/MY-20411371/power-nucleus-india-private-limited-120x120.png"/></div>
        <div class="logo-text">Power Nucleus India Private Limited</div>
    </div>
    </a>
    <form action="/findProduct" method="GET" id="search-box-form">
        <div class="search-box">
            <div>
                <input type="text" id="searchtextbox" value="" name="key" autocomplete="off" placeholder=""
                       class="searchBox" aria-label="Search">
            </div>
            <div class="material-symbols-outlined search-box-icon" id="search-box-icon">
                search
            </div>
        </div>
    </form>
    <div class="cartIconAndCount" id="cart-icon-count">
        <a href="/cart" aria-label="Cart" class="cartIcon" id="cartIcon">
            <i id="shoppingcarticon" class="material-icons">shopping_cart</i>
        </a>
    </div>
</div>
</body>
</html>