html, body {
  height: 100%;
  margin: 0;
  font-family: Whitney,Helvetica,Arial,sans-serif!important;
}

.main-container {
   display:flex;
   height:100%;
   flex-direction: column;
}
.left-container {
      border: 1px solid #ced4da;
      width: 25%;
      height: 100%;
}

.right-container {
  width: 100%;
  border-right: 1px solid darkgrey;
}

.header-container {
    border: 1px solid #ced4da;
    height: 10%;
    background-color: #09cfcf;
}

.content-container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.bp-card {
    margin-top: 40px;
}
.hide {
    display: none;
}
.store-header {
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 16%);
    display: flex;
}
.logo {
    color: #0DB776;
    padding-left: 10px;
    width: 90%;
    display: flex;
}

.logo-text {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
}

.right-container {
    flex: 0 0 70%;
    padding-left: 10px;
}

.lower-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 10px;
    margin-top: -10px;
}
.accordion {
    color: darkslategrey;
}
.pb-input {
        border: 1px solid darkgrey;
        outline: 0;
        padding: 8px;
        font-size: 1rem;
        width: 50%;
        border-radius: 8px;
}
.attribute-name {
    width: 15%;
    margin-top: 10px;
}
.button-container {
    padding-left: 50%;
    margin-top: 12px;
    margin-bottom: 8px;
}
.field {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 20px;
}
.card {
    border-bottom: 1px solid green;
    width: 75%;
}
.pb-button {
appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 7px 27px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.card-padding {
    padding-left: 10%;
}
.input-container {
    width: 100%;
}
.cart-details {
    margin-top: 3%;
    padding-right: 8%;
}
.entry {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2%;
}
.product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
}

.cartIconAndCount {
    padding-right: 30px;
    margin-top: 25px;
}

.material-icons {
    color: #0DB776;
}


.pb-button-view-cart {
                   appearance: none;
                       background-color: #8080ff;
                       border: 1px solid rgba(27, 31, 35, .15);
                       border-radius: 6px;
                       box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
                       box-sizing: border-box;
                       color:  #fff;
                       display: inline-block;
                       font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
                       font-size: 14px;
                       font-weight: 600;
                       line-height: 20px;
                       padding: 7px 27px;
                       position: relative;
                       text-align: center;
                       text-decoration: none;
}

.searchBox {
    border-radius: 15px;
    height: 25px;
    width: 200px;
    border-width: thin;
}
.searchtextboxButtonClass {

    color: white;
    background: green;
}

.search-box {
    border-radius: 15px;
    height: 25px;
    width: 200px;
    border-width: thin;
    display: flex;
    margin-top: 25px;
    padding-right: 70px;
}

.search-box-icon {
    margin-top: 2%;
    padding-left: 2%;
    color: green;
}

.all-products-container > div {
  width: 200px;
  text-align: center;
}

.all-products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 10px;
    justify-content: space-around;
}

.product-card {
    border: 1px solid lightgrey;
    height: 275px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.product-image {
    width: 100px;
    height: 100px;
}

.view-cart-details {
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    width: 124px;
    height: 30px;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 10px;
}

.breadcrumb {
display: flex;
    margin-top: 10px;
    padding-left: 20px;
    color: dimgrey;
    font-size: 15px;
}

.breadcrumb-text {
    margin-top: 3px;
    padding-left: 5px;
}

.right-container > h1 {
    font-weight: 100;
    font-size: 25px;
}

.entry > div > img {
   height: 125px;
   width: 125px;
}

.left-checkout {
    width: 100%;
}

.order-review {
    height: 300px;
    width: 300px;
    margin-left: 5%;
}

.order-review-items {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
}

.order-review-items > div {
    width: 150px;
}

.logo-img > img {
    width: 75px;
    height: 75px;
}

a:link {
  text-decoration: none;
}

.store-header > a {
    color: inherit;
    width: inherit;
}