<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head :: head">
</head>
<title>Product Becho</title>
<body>
<div>
    <div class="main-container">
        <div class="store-header" th:include="fragments/header :: header"/>
        Thank You! Your order was placed successfully! Your order Id is : <p th:text="${orderCode}"></p>
    </div>
</div>
</body>
</html>