<div class="success-msg" id="hideAfter5Seconds">
    <span class="material-symbols-outlined">
    check
    </span>
    <div class="">Product uploaded successfully.</div>
</div>
<form id="file-upload-form">
    <div class="input-container"><div class="description">Product Code</div> <div class="input-box"> <input type="text" name="code" class="pb-input" /></div></div>
    <div class="input-container"><div class="description">Description</div> <div class="input-box"> <input type="text" name="description" class="pb-input text-area" /></div></div>
    <div class="input-container"><div class="description">Name</div> <div class="input-box"> <input type="text" name="name" class="pb-input" /></div></div>
    <div class="input-container"><div class="description">Price</div> <div class="input-box"> <input type="text" name="price" class="pb-input" /></div></div>
    <div class="input-container"><div class="description">Image</div> <div class="input-box"> <input type="file" id="imageFile" class="image-file" name="imageFile"/></div></div>
    <div class="input-container"><div class="description">Warehouse</div> <div class="input-box"> <input type="text" name="warehouse" class="pb-input" /></div></div>
    <div class="input-container"><div class="description">Quantity</div> <div class="input-box"> <input type="text" name="quantity" class="pb-input" /></div></div>

    <div class="button-container"><input type="button" value="Add" id="add-product" class="pb-button"/></div>
</form>