<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Product Becho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/css/pbstyle.css}">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="main-container">
    <div class="store-header">
        <div class="logo">Product Becho</div>
            <form action="/findProduct" method="GET" id="search-box-form">
                <div class="search-box">
                    <div>
                        <input type="text" id="searchtextbox" value="" name="key" autocomplete="off" placeholder=""
                               class="searchBox" aria-label="Search">
                    </div>
                    <div class="material-symbols-outlined search-box-icon" id="search-box-icon">
                        search
                    </div>
                </div>
            </form>
        <div class="cartIconAndCount" id="cart-icon-count">
            <a href="/cart" aria-label="Cart" class="cartIcon" id="cartIcon">
                <i id="shoppingcarticon" class="material-icons">shopping_cart</i>
            </a>
        </div>
    </div>
    <div class="all-products-container">
        <div th:each="product,iter : ${products}">
            <div class="product-card" id="abstract-order-entry">
                    <input type="hidden" id="product-code" th:value="${product.code}"/>
                    <div th:text="${product.name}">Product name</div>
                    <div><img th:src="*{'data:image/png;base64,'+product.image}" alt="" class="product-image"/></div>
                    <div class="product-desc" th:text="${product.description}">Product summary</div>
                    <div th:text="${product.price}">Product cost</div>
                    <div id="prod-qty">
                        <label for="quantity">Quantity:</label>
                        <select name="quantity" id="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br><br>
                        <button th:id="'addToCart'+ ${iter.index}" class="pb-button">AddToCart</button>
                        <!--<div th:id="'targetaddToCart'+ ${iter.index}" class="hide">
                            <form action="http://localhost:8080/cart">
                                <input class="pb-button-view-cart" type="submit" value="View Cart"/>
                                <button th:id="'addToCart'+ ${iter.index}" class="pb-button">Add More Quantity</button>
                            </form>
                        </div>-->
                    </div>
                    <div th:id="'view-cart-button-plp' + ${iter.index}" class="hide view-cart-details">
                        View Cart
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="js/addToCart.js">
</script>
</body>
</html>