<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Product Becho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/css/pbstyle.css}">
</head>
<body>
<input type="text" id="searchtextbox" value="" name="field-keywords" autocomplete="off" placeholder="" class="searchBox" aria-label="Search">
<input id="searchtextboxButton" type="submit" class="searchtextboxButtonClass" value="Go" tabindex="0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="main-container">
    <div class="store-header">
        <div class="logo">Product Becho</div>
        <div class="cartIconAndCount" id="cart-icon-count" >
            <a href="/cart" aria-label="Cart" class="cartIcon" id="cartIcon">
                <i id="shoppingcarticon" class="material-icons">shopping_cart</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 my-2 d-flex align-content-stretch flex-wrap" th:each="product,iter : ${products}">
            <div class="card">
                <img th:src="*{'data:image/png;base64,'+product.image}" alt=""/>
                <div id="abstract-order-entry" class="card-body">
                    <h5 class="card-title" th:text="${product.name}">Product name</h5>
                    <p class="card-text" th:text="${product.description}">Product summary</p>
                    <p class="card-text" th:text="${product.price}">Product cost</p>
                    <p id="product-code" class="card-text" th:text="${product.code}">Product summary</p>
                    <div class="button-container">
                        <label for="quantity">Quantity:</label>
                        <select name="quantity" id="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br><br>
                        <button th:id="'addToCart'+ ${iter.index}" class="pb-button" >AddToCart</button>
                        <div th:id="'targetaddToCart'+ ${iter.index}" class="hide">
                            <form action="http://localhost:8080/cart">
                                <input class="pb-button-view-cart" type="submit" value="View Cart" />
                                <button th:id="'addToCart'+ ${iter.index}" class="pb-button" >Add More Quantity</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/addToCart.js">
</script>
</body>
</html>