<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Product Becho</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="row">
    <div class="col-sm-3 my-2 d-flex align-content-stretch flex-wrap" th:each="product : ${products}">
        <div class="card">
            <img th:src="*{'data:image/png;base64,'+product.image}" alt=""/>
            <div id="abstract-order-entry"  class="card-body">
                <h5 class="card-title" th:text="${product.name}">Product name</h5>
                <p class="card-text" th:text="${product.description}">Product summary</p>
                <p class="card-text" th:text="${product.price}">Product cost</p>
                <p id="product-code" class="card-text" th:text="${product.code}">Product summary</p>
                <div class="button-container">
                    <input type="button" value="AddToCart" id="addToCart" class="pb-button"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/addToCart.js">
</script>
</body>
</html>